# Created by Vercel CLI
COMPANY_NAME="Vercel Inc."
SITE_NAME="Next.js Commerce"
SHOPIFY_REVALIDATION_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_STORE_DOMAIN="[your-shopify-store-subdomain].myshopify.com"
TWITTER_CREATOR="@weshapereality"
TWITTER_SITE="https://shapereality.com"

VERCEL_OIDC_TOKEN=""

# For middleware/go links
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
DYNAMO_TABLE=""

# Beehiiv newsletter
BEEHIIV_API_KEY=""
BEEHIIV_PUBLICATION_ID=""
